@use 'variables' as v;

/** Media Queries **/
@mixin phone {
    @media (min-width: v.$phone) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}
@mixin xl_desktop {
    @media (min-width: v.$xl_desktop) {
        @content;
    }
}

@mixin button($bgColor, $textColor) {
    background: $bgColor;
    color: $textColor;
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid darken($bgColor, 10%);
    border-radius: 4px;
    transition: background-color 0.3s ease-in, transform 0.3s ease-in, box-shadow 0.3s ease-in;
    font-size: 19px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &:hover {
        background-color: darken($bgColor, 30%);
        transform: translateY(-2px);
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    }

    &:active {
        transform: translateY(0);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
}

@mixin grid($columns, $spacing ) {
    display: grid;
    gap: $spacing;
    grid-template-columns: repeat($columns, 1fr);
}

@mixin container {
    width: min(95%, 120rem);
    margin: 0 auto;
}

@mixin container-sm{
    width: min(95%, 60rem);
    margin: 0 auto;
}

@mixin grid($columns, $spacing ) {
    display: grid;
    gap: $spacing;
    grid-template-columns: repeat($columns, 1fr);
}

@mixin text-fluid($min, $max) {
    font-size: clamp($min, -0.8rem + 10vw ,$max);
}

@mixin headings {
    font-family: v.$font-primary;
    font-weight: v.$black;
    margin: 2rem 0;
}

@mixin name-page{
    @include headings();
    margin: 6rem 0 3rem 0;
    text-align: center;
}

@mixin reset-list{
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin tags{
    @include reset-list;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 10px;

    >li{
        background-color: v.$red;
        border: 1px solid transparent;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.2s, color 0.2s;

        &:hover {
            background-color: darken(v.$red, 20%);
            color: v.$black;
            &::after {
                color: #666;
            }
        }

        &::after {
            content: '×';
            display: inline-block;
            margin-left: 1rem;
            cursor: pointer;
            color: #999;
            transition: color 0.2s;
        }

    }
}
