// Fuentes
$font-primary: 'Roboto', sans-serif;

// Tamaño de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
$xl_desktop: 1200px;

// Colores
$blue: #007df4;
$secundary: #00c8c2;

$black: #1a1b15;
$white: #FFFFFF;
$grey: #64748B;
$grey-light: #F8FAFC;
$grey-dark: #1E293B;

$red: rgb(169, 0, 0);
$green: #02db02;

// Fuentes
$slim: 300;
$regular: 400;
$bold: 700;
$black: 900